@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Figtree&family=Montserrat:wght@200&display=swap');


html{
    background-color: #262626;
}

input:-webkit-autofill { 
    -webkit-background-clip: text;
    outline: none;
    color: white;
}

body
{
    font-family: 'Comfortaa', cursive;
    font-family: 'Figtree', sans-serif;
}

dialog::backdrop{ 
    backdrop-filter: brightness(20%);
}